# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
venv_quake/

# Cache + metadata
cache/
metadata/
results/
state/

# MinIO data
minio/

# Dataset file
data/
centroids.npy

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
*.md
proto/vector_search_pb2*.py