argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
contourpy==1.3.2
cycler==0.12.1
faiss-cpu==1.13.2
filelock==3.25.2
Flask==3.1.3
fonttools==4.62.1
fsspec==2026.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
minio==7.2.20
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
packaging==26.0
pandas==2.3.3
pillow==12.1.1
pybind11==2.11.1
pycparser==3.0
pycryptodome==3.23.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
-e git+https://github.com/metonymic-smokey/quake.git@0651c88c5c71343191ef06ee4ed292cb4a01e1aa#egg=quake
requests==2.33.0
six==1.17.0
sympy==1.14.0
torch==2.2.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
Werkzeug==3.1.7
